{%extends 'base.html'%}
{%block title%}About{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<b><h1>Express It</h1></b>
<div class="card">
    <p>Express it is a website that allows you to create and publish a blog freely. It gives a platform 
        to express your feelings, thoughts, ideas, opinions etc. It provide the user the privileage of 
        maintainig the anonimity, and if they are interested they can even reveal their identity. This 
        is created as part of a project. This site has a friendly interface, makes it simple and easy 
        to use. Creating a blog is very easy it can be done by entering the details. You can read through
        other's posts. You can find out the blogs of your interest by using the search tab.</p>
</div>
{%endblock%}